html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, sans-serif;
  font-size: 11px;
}
body {
    margin-right: 32em;
}
#map {
  height: 100%;
  float: left;
  width: 100%;
  margin-right: -3px;
  border-right: 3px #f16221 solid;
}
#notes {
    float: right;
    width: 32em;
    height: 100%;
    margin-right: -32em;
    overflow-y: scroll;
}
p {
    display: inline-block;
}
.note {
    padding: 1em;
    text-align: justify;
    border-bottom: 3px #f16221 solid;
    background-color: rgba(241, 98, 33, 0.05);
}
.note:hover {
    cursor: pointer;
}
.note.highlight {
    background-color: rgba(241, 98, 33, 0.25);
}
.note-title {
    font-weight: bold;
    text-transform: uppercase;
    line-height: 20px;
    font-size: 14px;
    float: left;
}
.note-data {
    clear: both;
    display: block;
}
.note-tag {
    display: inline-block;
    color: white;
    background-color: #f16221;
    border-style: solid;
    border-color: #f16221;
    border-radius: 5px;
    margin-right: 3px;
    margin-bottom: 3px;
}
.note-button {
    float: right;
    line-height: 14px;
    color: white;
    background-color: #f16221;
    border-style: solid;
    border-color: #f16221;
    border-radius: 5px;
    margin-left: 3px;
}

.edit-data, .edit-tags {
    width: 95%;
    font-size: 11px;
}
input, textarea {
    font-family: inherit;
    padding: 2px;
    border-width: 2px;
    border-style: solid;
    border-color: #f16221;
    border-radius: 5px;
    margin-bottom: 3px;
}
